@import "~@mxjs/style/config";

$blue-5: #40a9ff !default;
$blue-7: #096dd9 !default;
$btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);

.btn {
  height: 32px; // antd @btn-height-base
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12); // antd
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045); // antd @btn-primary-shadow
}

// 自定义次要按钮
.btn-secondary {
  @include button-variant($white, $border-color, $white, $blue-5, $white, $blue-7);

  box-shadow: $btn-shadow;
  text-shadow: none;

  @include hover() {
    color: $blue-5;
  }

  &:focus,
  &.focus {
    color: $blue-5;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $blue-7;

    &:focus {
      box-shadow: none;
    }
  }
}

.ant-btn {
  vertical-align: middle;
}
